<%= form_for(@link, :html=>{:class=>"new_link form-horizontal"}) do |f| %>
  <% if @link.errors.any? %>
    <div class="alert">
      <b><%= pluralize(@link.errors.count, "error") %> prohibited this link from being saved:</b>
      <ul>
      <% @link.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name, :class=>"control-label" %>
    <div class="controls">
      <%= f.text_field :name %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :url, :class=>"control-label" %>
    <div class="controls">
      <%= f.text_field :url %>
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <%= f.submit :class=>"btn"%>
    </div>
  </div>
<% end %>
